.profilePageMainContentAddButton {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 22px;
  }
  
  .profilePageMainContentAddButtonCard {
    width: 50px;
    height: 50px;
    border: 2px solid #007bfg; /* Border color */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 900px;
  }
  
  .profilePageMainContentAddButtonCard:hover {
    background-color: #007bff; /* Change background color on hover */
  }
  
  .profilePageMainContentAddButtonIcon {
    font-size: 48px;
    color: #007bff; /* Icon color */
  }
  
  .profilePageMainContentAddButtonIcon:hover {
    color: #FFF; /* Change background color on hover */
  }
